<%= render partial: 'shared/header', locals: { current: 'timeline' } %>
<main class="inner">
  <div id="form">

    <%= render 'form', post: @post %>

    <%= link_to 'Back', posts_path, :class =>'btn' %>

  </div>
</main>
<%= render partial: 'shared/footer' %>